.title {
  margin: 2rem 0;
}

.adminForm {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 0 30rem;
}

.adminForm label {
  font-weight: 700;
  margin-bottom: 1rem;
}

.adminForm input {
  font-weight: 700;
  margin-top: 1rem;
}

.adminForm select {
  margin-top: 1rem;
}

.adminForm button {
  background-color: var(--gray-900);
  border: none;
  border-radius: 6px;
  color: var(--white);
  cursor: pointer;
  height: 2rem;
  margin-top: 1rem;
  width: 10rem;
}

.adminForm button:disabled {
  background-color: var(--gray-700);
  cursor: not-allowed;
}

@media ( min-width : 1500px ) {

  .adminForm {
    padding: 0 70rem;
  }

}
