.header {
  background-color: var(--gray-900);
  display: flex;
  justify-content: space-between;
}

.header > div {
  align-items: center;
  display: flex;
  height: 9rem;
  justify-content: center;
  margin-left: 5rem;
}

.header div img {
  width: 13rem;
}

.navigationContainer {
  color: white;
  display: flex;
  justify-content: space-evenly;
  margin-right: 47rem;
  width: 50rem;
}

.navigationContainer div {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0.75rem 0;
}

.navigation {
  color: white;
}

.productsHome {
  display: flex;
  justify-content: center;
}

.slider {
  margin: 5rem 0;
  width: 90%;
}

@media ( max-width : 1500px ) {

  .header {
    background-color: var(--gray-900);
    display: flex;
    justify-content: space-between;
  }

  .header > div {
    margin-left: 2rem;
  }

  .navigationContainer {
    display: flex;
    justify-content: space-evenly;
    margin-left: 5rem;
    width: 100rem;
  }

  .navigationContainer div {
    justify-content: space-evenly;
    margin-left: 2rem;
    width: 10rem;
  }

}
