.mainContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.statusContainer {
  background-color: var(--golden-600);
  border: none;
  border-radius: 8px;
  color: var(--gray-900);
  margin: 2rem 0;
  padding: 1rem;
  width: 15rem;
}

.statusContainer h4 {
  margin-bottom: 0.2rem;
}

.statusContainer button {
  background-color: var(--gray-900);
  border: none;
  border-radius: 6px;
  color: var(--white);
  cursor: pointer;
  height: 2rem;
  margin-top: 1rem;
  width: 7rem;
}

.statusContainer button:disabled {
  background-color: var(--gray-700);
  cursor: not-allowed;
}

.tableContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  width: 50rem;
}

.total {
  margin-top: 1rem;
}
