.productsContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 60vh;
  justify-content: space-between;
}

.slider {
  margin-top: 5rem;
  width: 60rem;
}

.cartButton {
  background-color: var(--gray-900);
  border: none;
  border-radius: 10px;
  color: var(--white);
  cursor: pointer;
  font-weight: 700;
  height: 3rem;
  letter-spacing: 1px;
  width: 20rem;
}
