.mainContainer > h3 {
  margin: 2rem 0;
}

.sellerOrdersContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sellerOrdersContainer h4 {
  margin: 0.5rem 0;
}

.sellerOrdersContainer section {
  display: flex;
  justify-content: space-between;
  width: 25rem;
}

.sellerOrdersContainer button {
  background-color: var(--gray-900);
  border: none;
  border-radius: 6px;
  color: var(--white);
  cursor: pointer;
  height: 2rem;
  margin-top: 1rem;
  width: 10rem;
}

.sellerOrdersContainer button:disabled {
  background-color: var(--gray-700);
  cursor: not-allowed;
}

.tableContainer {
  display: flex;
  flex-direction: column;
}
