.orderContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.orderContainer div {
  background-color: var(--golden-600);
  border: none;
  border-radius: 8px;
  color: var(--gray-900);
  margin: 1rem 0;
  width: 30rem;
}

.orderContainer section {
  padding: 0.5rem 0;
}

.orderContainer section h4 {
  margin-bottom: 0.5rem;
}

